PORT=3000
MONGO_URI=mongodb+srv://ergocontrol:aHXN9VV2ijTPu4J3@cluster0.dktiyxz.mongodb.net/?appName=Cluster0
JWT_SECRET=muda_esta_chave_secreta_para_producao
JWT_EXPIRES_IN=7d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=o_teu_email@gmail.com
EMAIL_PASS=a_tua_password_de_app
EMAIL_FROM=ErgoControl <o_teu_email@gmail.com>
CLIENT_URL=http://localhost:3000